<h1>Create User</h1>

<%= form_with model: @user, local: true do |form|%>

  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>.
    <td>
      <%= user.username %>
    </td>
  </tr><br>
<% end %>